<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search Movie
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-searchbar placeholder="Enter movie" [value]="textoBuscar" animated="ios" (ionChange)="buscar($event)" debounce="500" showCancelButton="always"></ion-searchbar>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <ion-grid *ngIf="buscando">
    <ion-row>
      <ion-col text-center>
        <ion-spinner name="bubbles"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list ngIf="peliculas.length === 0" *ngFor="let item of ideas">
    <ion-item>
      <ion-label (click)="textoBuscar = item" color="primary">{{item}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-grid fixed *ngFor="let item of peliculas">
    <ion-row>
      <ion-col size="12">
        <ion-card (click)="verDetalle(item.id)">
          <ion-img [src]="item.poster_path |imagen"></ion-img>
          <ion-card-content>
            <ion-card-title>{{item.title}}</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
